.blog-recents {
  h2,
  p {
    @include themed() {
      background: t("mainBackground");
      color: t("importantContent");
    }
  }
}

@media (max-width: 1450px) {
  .blog-recents {
    h2,
    p {
      text-align: center;
    }
  }
}
