.scrollable {
  overflow-y: hidden;
}

.metrics {
}

@media (max-width: 1150px) {
  .metrics {
    -webkit-flex-wrap: nowrap !important;
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
    overflow-x: scroll;
    display: flex;
    overflow-y: hidden;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
}
