.scrollable {
  overflow-y: hidden;
}

.metrics {
  @include themed() {
    background: t("importantContent");
  }
  min-height: 26vh;
}

.metricTitle {
  text-align: center;
  color: #fff;
}

h1.metricTitle {
  margin-top: 2em;
}

@media (max-width: 1150px) {
  .metrics {
    -webkit-flex-wrap: nowrap !important;
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
    overflow-x: scroll;
    display: flex;
    overflow-y: hidden;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
}
