.pastelblue {
  @include themed() {
    background: t("primaryBackground");
  }
}

.pastel-whitebox {
  @include themed() {
    background: t("cardBackground");
    color: t("textColorOnWhite");
  }
}

.pastel-bluebox {
  background: blue;
}
