.pastelblue {
  @include themed() {
    background: t("primaryBackground");
  }
}

.pastel-whitebox {
  @include themed() {
    background: t("cardBackground");
    color: t("importantContent");
  }
  padding: 0 15px 9999px 9999px;
  margin: 0 -15px -9999px -9999px;
}

.pastel-bluebox {
  background: blue;
  padding: 0 15px 9999px 9999px;
  margin: 0 -15px -9999px -9999px;
}
