@import "../colors.module.scss";
@import "../../styles/color-themes";

a.NavLink {
  padding-right: 1rem;
  @include themed() {
    color: t("textColorOnWhite");
  }
}

.Nav {
  min-height: 10vh;
  padding-top: 2.5rem;
  @include themed() {
    background: t("primaryBackground");
    color: t("textColorOnWhite");
  }
}

a.darkmodelink {
  background: $primarydark;
  color: $primary;
  padding: 0.25em;
  border-radius: 1em;
  line-break: anywhere;
}

a.lightmodelink {
  background: $primary;
  color: $primarydark;
  padding: 0.25em;
  border-radius: 1em;
  line-break: anywhere;
}

a.darkmodelink:hover,
a.lightmodelink:hover {
  cursor: pointer;
  color: #c5c3c3;
}
