@import "../../styles//colors.module.scss";

.gitMetric {
  display: flex;
  text-align: center;
  flex-flow: column-reverse;
  margin: 1.25rem 0.5rem 0rem 0.5rem;
  font-size: 0.8rem;
  z-index: 1;
  color: white;
}

.gitMetric span {
  background: $blue;
  width: 2rem;
  height: 2rem;
  align-self: center;
  font-size: 1.25rem;
  flex: auto;
}

.metricName {
  color: $blue;
  background: #f7f7f7;
  font-weight: 700;
  font-size: 12px;
  padding: 0.1rem 0rem;
}

@media (max-width: 560px) {
  .gitMetric span {
    font-size: 0.75rem;
  }
  .metricName {
    font-size: 0.75rem;
    width: 10rem;
  }
  .gitMetric {
    flex: 0 0 auto;
  }
}

@for $i from 0 through 100 {
  .height-#{$i} {
    height: #{$i + 2.5}rem;
  }
}
