$bg: "bg";
$card-bg: "card-bg";
$text: "text";
$text-secondary: "text-secondary";
$link: "link";
$hover: "hover";
$logo: "logo";
$brand-blue: "brand-blue";
$brand-red: "brand-red";
$border: "border";

// Light Theme
$bg--light: white;
$bg--card--light: white;
$text--light: black;
$text--2--light: grey;
$brand--blue--light: blue;
$hover--light: cyan;
$border--light: grey;
$card-border--light: white;
$text--imp--light: white;
$brand--red--light: red;
// Dark Theme
$bg--dark--top: black;
$bg--dark--bottom: grey;
$bg--card--dark: black;
$text--dark: black;
$text--2--dark: black;
$brand--blue--dark: darkblue;
$hover--dark: black;
$border--dark: black;
$card-border--light: black;
$card-border--dark: black;
$text--imp--dark: black;
$brand--red--dark: red;
