$orange: #f37137;
$blue: #2b314c;
$white: #f7f7f7;

//Global Favourite Colours

$oxfordblue: #06223b;
$charcoal: #233d4d;
$smokyblack: #0c0f0a;
$saffronyellow: #eac435;
$sunrisered: #e63c36;
$sunriseorange: #fbb17d;

// Theme Colours

$mainblue: #579abe;
$mainred: #c23b23;
$mainyellow: #eada52;
$maingreen: #03c03c;
$mainpurple: #976ed7;
$mainorange: #f39a27;

//DEFAULT
$backgrounddefault: #06223b;
$defaultfontcolor: #d2eeca;

//DARK
$backgrounddark: #06223b;

$projectColor: red;
