@import "./color-themes";
@import "./colors.module.scss";

header .heroHeader {
  min-height: 8vh;
}

.main {
  min-height: 92vh;
}

footer .footer {
  min-height: 10vh;
}

@media only screen and (max-width: 768px) {
  #_next {
    width: 100%;
  }
}

.nopadding .container-fluid {
  padding: 0;
}

.container-holder {
  overflow: hidden;

  @include themed() {
    background: t("secondaryBackground");
  }
  min-height: 65vh;
  border-radius: 15em 0em 0em 0em;
}

@media (max-width: 1050px) {
  .container-holder {
    border-radius: 0em;
  }
}

.hero {
  margin: 2em 0em;
}
