@import "./color-themes";
@import "./colors.module.scss";

header .heroHeader {
  min-height: 8vh;
}

.main {
  min-height: 92vh;
}

footer .footer {
  min-height: 10vh;
}

@media only screen and (max-width: 768px) {
  #_next {
    width: 100%;
  }
}
