@import "../colors.module.scss";
@import "../../styles/color-themes";

.gitMetric {
  display: flex;
  flex-flow: column;
  font-size: 0.8rem;
  z-index: 1;
  @include themed() {
    background: t("primaryBackground");
    color: t("importantContent");
  }
  margin: 5rem 0em 0em 0em;
  width: 90%;
  text-align: center;
}

.metrics.row {
  align-items: flex-end;
}

.gitMetric span {
  height: 2em;
  margin-top: -1.5em;
  @include themed() {
    color: t("primaryBackground");
  }
  font-weight: 500;
}
@media (min-width: 950px) {
  .metricName {
    @include themed() {
      color: t("textColor");
    }
    font-weight: 700;
    font-size: 10px;
    padding: 0.1rem 0rem;
    margin: 0em -3em -2em -3em;
  }
}

@media (max-width: 949px) {
  .gitMetric span {
    font-size: 0.75rem;
  }
  .metricName {
    font-size: 0.5rem;
    padding: 0.1rem 1em;
    @include themed() {
      color: t("textColor");
    }
    margin: 0em -3em 0em -3em;
    width: 3em;
  }
  .gitMetric {
    flex: 0 0 auto;
  }
}

.bar {
  height: 2rem;
  flex: auto;
}

.CentralGit {
  align-items: center;
  text-align: -webkit-center;
}

@for $i from 0 through 100 {
  .height-#{$i} {
    height: #{2 + $i * 1.1}em;
    @if ($i > 10) {
      .bar {
        background: $mainorange !important;
      }
      .metricName {
        color: $mainorange;
      }
    }
  }
}
