.heroHeader {
  z-index: 2;
  position: relative;
  @include themed() {
    background: t("mainBackground");
    color: t("importantContent");
  }
  min-height: 30vh;
  padding: 2rem 0em;
}

.metricTitle {
  text-align: left;
  @include themed() {
    color: t("text");
  }
}
