.heroHeader {
  z-index: 2;
  position: relative;
  @include themed() {
    background: t("mainBackground");
  }
  min-height: 35vh;
  color: #fff;
  padding: 2rem 0rem 4em 0em;
}

.metricTitle {
  @include themed() {
    color: t("text");
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.metricTitle h1 {
  padding-bottom: 0.5em;
}
